*.pyc
.venv/
/.idea/
/.pytest_cache
UnitTests/.pytest_cache
/.env
suggestions.py
/__pycache__
/Simulator/__pycache__
/Models/__pycache__
/interface/__pycache__
/UnitTests/__pycache__
/logs
/LogStorage
log.txt
/SavedModels
/episodes
/examples/output
libdevice.10.bc
/Checkpoints
/core/build
/core/ctree/cytree.cpython-38-x86_64-linux-gnu.so
/core/ctree/cytree.cpython-310-x86_64-linux-gnu.so
/core/ctree/cytree.cpp
/core/ctree/build
.vscode/
core/ctree/cytree.cpython-39-x86_64-linux-gnu.so
core/ctree/cytree.cpython-39-darwin.so
core/ctree/cytree.cp39-win_amd64.pyd

# UI
Games/
Simulator/PoroSight/.DS_Store
Simulator/PoroSight/node_modules
Simulator/PoroSight/build
Simulator/PoroSight/.svelte-kit
Simulator/PoroSight/package
Simulator/PoroSight/.env
Simulator/PoroSight/.env.*
!Simulator/PoroSight/.env.example
Simulator/PoroSight/vite.config.js.timestamp-*
Simulator/PoroSight/vite.config.ts.timestamp-*
Simulator/PoroSight/bun.lockb
Simulator/PoroSight/package-lock.json
