*.pyc
/.idea/
suggestions.py
/__pycache__
/Simulator/__pycache__
/Models/__pycache__
/interface/__pycache__
/UnitTests/__pycache__
/logs
log.txt
/SavedModels
libdevice.10.bc
/Checkpoints
/core/build
/core/ctree/cytree.cpython-38-x86_64-linux-gnu.so
/core/ctree/cytree.cpp
/core/ctree/build
.vscode/
core/ctree/cytree.cpython-39-x86_64-linux-gnu.so
