numpy~=1.23.5
pandas
dm-tree
tabulate
scikit-image
scikit-learn~=1.2.0
ray~=2.2.0
gym~=0.23.1
PettingZoo~=1.23.1
gymnasium~=0.28.0
cython>=0.29.23

setuptools~=66.1.1
scipy~=1.10.1
torch~=2.0.1
tensorboard